$content_width = 700px
$sidebar_width = 200px

$tab_radius = 10px
$box_radius = 10px

$text_color = #333
$hr_color   = #aaa

$header_bg  = #bbb
$nav_bg     = #ccc
$content_bg = #e5e5e5
$code_bg    = #fafafa

$font_size = 13px

// -------------------
// font
// -------------------
@import url("http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic")

*
    -webkit-box-sizing border-box
    -moz-box-sizing border-box
    box-sizing border-box

body
input
button
label
select
textarea
    font-family "Noto Sans"
    font-size $font_size !important // thanks, bootstrap!

body
    background-color $content_bg

// container
.content-container
.site-header
.site-nav
    max-width $content_width
    margin 0 auto

// header
.header-container
    background-color $header_bg

.site-header
    color black

    a
        display block
        padding 1em
        color black

        &:hover
            text-decoration none

        h1
            margin 0px
            font-size 40px

// navigation
.nav-container
    background-color $nav_bg

.site-nav
    ul
        margin 0px
        list-style-type none

        li
            display inline-block

            &.selected
                background-color $content_bg
                border-top-right-radius $tab_radius
                border-top-left-radius $tab_radius

            a
                padding 0.5em
                display block
                text-decoration none

                &:hover
                    text-decoration none

        &.nav-left
        &.nav-right
            i[class^=glyphicon]
                margin-right 0.5em

        &.nav-left
            float left

        &.nav-right
            float right

// content
.site-content
    background-color $content_bg
    margin 0.5em
    margin-top 1em
    padding-bottom 0px
    overflow hidden
    width auto

// sidebar
.site-sidebar
    background-color $content_bg
    float right
    width $sidebar_width
    padding 1em

    .sidebar-box
        clear left
        background-color $nav_bg
        border-radius $box_radius
        border 1px solid $header_bg
        margin-bottom 1em

        .sidebar-title
            font-weight bold
            text-align center
            border-top-left-radius $box_radius
            border-top-right-radius $box_radius
            width 100%
            background-color $header_bg

        .sidebar-content
            padding 0.5em

            ul
                margin-bottom 0px
                margin-left 0px
                list-style-type none

                li
                    margin-bottom 1em

                li:last-child
                    margin-bottom 0px

            table
                width 100%

                tr:hover
                    background-color $content_bg

                .tag-name
                    width 100%

                td a
                    display block

                td a:hover
                    text-decoration none

            form
                margin-bottom 0px

                input
                    width 100%
                    margin-bottom 0px

// blog post
.site-post
    .post-title
        margin-bottom 0px
        margin-top 0px
        line-height 1.2em

        a
            text-decoration none
            font-size 0.9em
            color $text_color

    .post-meta
        line-height 1em

    .post-content
        margin-top 1em

        a:visited
            color darken(blue, 20%)

    .post-comments
        margin-top 1em

// page-specific
.page-archive
    ul
        margin-left 0px

        li
            list-style-type none

        .day
            font-weight bold

.page-cookies
    #input
    #output
        font-family monospace

    #output
        white-space pre
        overflow auto

    textarea
    input
        width 100%
        margin-bottom 0px

.page-tags
    ul
        list-style-type none
/*
.page-code
    .project
        float left
        width 26%
        //border 1px solid black
        padding 0.5em 1em
        //margin 0.25em
        background-color #eee
        margin 1%
        border-radius 1em
        border 1px solid #ddd

    .project-name
        font-size 1.4em
        text-align center
        margin-bottom 0.25em
        margin-top: 0.25em

        a
            color black

            &:hover
                text-decoration none

    .project-description
        font-size 1em

    //.project-state-active {}
    //.project-state-done {}
    //.project-state-inactive {}
*/

// headings
h1
h2
h3
h4
h5
h6
    font-weight 700

// bootstrap defaults are too big
h1
    font-size 31.5px

h2
    font-size 24.5px

h3
    font-size 17.5px

h4
    font-size 14px

h5
    font-size 11.9px
// we don't need h6 (for now)

h2.page-title
    margin-top 0px
    border-bottom 1px solid $header_bg

// since we're pushing each heading down a notch in
// size, revert h3 back to its default
h3
    line-height normal

// miscellaneous
hr
    margin-left 20%
    margin-right 20%
    border 1px solid $hr_color
    border-bottom 0px

// bootstrap default blue is way too common now
a
    color lighten(blue, 10%)

// silly glyphicon
i.glyphicon-stackoverflow
    background-image url("/img/so.png")
    background-position 0px 0px

pre
pre > code
    white-space pre

pre
    border 0px
    border-radius 0.5em
    padding 0.5em
    overflow auto
    word-wrap normal

pre
code
    border-radius 0.5em
    background-color $code_bg

code
    color $text_color

// bootstrap tooltip
.tooltip
    font-size 1em

    &.in
        opacity 100
        filter unquote("alpha(opacity=100)")

// responsiveness
@media only screen and (max-width: 600px)
    //.site-content {}

    .site-sidebar
        float none !important
        margin-left auto !important
        margin-right auto !important

    .site-nav
        ul
            float none !important

            li
                display block !important
                width 100% !important

                &.selected
                    border-radius 0 !important
