@content_width: 45em;
@sidebar_width: 15em;
@nav_height: 3em;
@nav_collapsed_height: 2.5em;

@breakpoint: 30em;

@radius: 1em;
@half_radius: 0.5em;

// foregrounds
@text_fg: #333;
@hr_color: #aaa;

// backgrounds
@header_bg: #bbb;
@nav_bg: #ccc;
@content_bg: #e5e5e5;
@content_content_bg: #fafafa;

// colours
@active_bg: #c09853;
@done_bg: #468847;
@inactive_bg: #999;

@project_bg: #eee;
@project_hover_bg: #ddd;

@font_size: 13px;

@gap: 1em;
@half_gap: @gap / 2;

@import "functions.less";
@import "things.less";
@import "nav.less";
@import "content.less";
@import "post.less";
@import "pages.less";

@import "breakpoint" only screen and (max-width: @breakpoint);
