@content_width: 45em;
@nav_height: 3em;
//@nav_collapsed_height: 2.5em;
@breakpoint: 30em;

@radius: 1em;
@hradius: @radius / 2;

@text_fg: #333;

@colour0: #999;
@colour1: #aaa;
@colour2: #bbb;
@colour3: #ccc;
@colour4: #ddd;
@colour5: #eee;
@colour6: #e5e5e5;
@colour7: #fafafa;

@colour_pending: #c09853;
@colour_complete: #468847;

@font_size: 13px;

@gap: 1em;
@hgap: @gap / 2;
@qgap: @gap / 4;

@import "functions.less";
@import "things.less";
@import "nav.less";
@import "content.less";
@import "post.less";
@import "pages.less";

@import "breakpoint" only screen and(max-width: @breakpoint);
