.page-index {
  .project {
    color: black;
    float: left;
    width: 48%;
    padding: @hgap;
    background-color: @colour5;
    margin: 1%;
    border-radius: @radius;

    &:hover {
      text-decoration: none;
      background-color: @colour4;
    }

    .project-state {
      float: left;
      border-radius: 10px;
      height: 10px;
      width: 10px;
      background-color: @colour2;
    }

    .project-name {
      font-size: 1.4em;
      text-align: center;
      margin-bottom: 0.25em;
      margin-top: 0.25em;
      font-weight: normal;
    }
  }
}

.page-archive {
  td:first-child {
    padding-right: @gap;
  }

  tr.year:first-child h2 {
    margin-top: 0;
  }

  .day td:first-child {
    text-align: right;
  }
}

.page-cookies {
  #input, #output {
    font-family: monospace;
  }

  #output {
    white-space: pre;
    overflow: auto;
  }
/*
  textarea, input {
    width: 100%;
    margin-bottom: 0px;
  }*/
}
