.post {
  h1 {
    margin-bottom: 0;

    a {
      text-decoration: none;
      color: @text_fg;
    }
  }

  .post-meta {
    font-style: italic;
  }

  .post-content {
    margin-top: @gap;

    a:visited {
      color: darken(blue, 20%);
    }
  }

  .post-comments {
    margin-top: @gap;
  }
}
