@import url("http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic");

* {
  .box-sizing(border-box);
}

body,
input,
button,
label,
select,
textarea {
  font-family: "Noto Sans";
  font-size: @base_size;
}

body {
  background-color: @color12;
  color: @color05;
}

a {
  text-decoration: none;
  color: @blue1;
}

i.glyphicon-stackoverflow {
  background-image: url("/img/so.png");
  background-position: 0px 0px;
}

h1, h2, h3 {
  font-weight: 700;
}

h1 {
  font-size: 18px;
  margin: @hgap 0;
}

h2 {
  font-size: 14px;
}

h3 {
  font-size: 12px;
}

hr {
  border: 1px solid @color07;
  margin: @gap 20%;
  border-bottom: 0px;
}

// code blocks and inline code
pre, pre > code {
  white-space: pre;
  border: 0;
  padding: 0;
}

pre {
  border: 0px;
  border-radius: @hradius;
  padding: @hgap;
  overflow: auto;
  word-wrap: normal;
}

pre, code {
  border-radius: @hradius;
  background-color: @color13;
  font-family: Consolas, monospace;
}

code {
  color: @color05;
  padding: 2px 4px;
  white-space: nowrap;
}

blockquote {
  border: 0;
  margin: 0;
  padding: @hgap;
  border-radius: @hradius;
  background-color: @color13;

  p {
    font-size: 1em;
    margin: 0;
  }
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.tooltip {
  font-size: 1em !important;
  padding: @qgap;
}

.form {
  width: 100%;
  td {
    padding: @qgap;

    &:nth-child(2) {
      input, textarea {
        width: 100%;
        display: block;
      }
    }
  }
}
