<div class="row-container">
  <div class="row-content">
    <form action="http://google.com/search" method="get">
      <input name="sitesearch" type="hidden" value="{{ site.domain }}" />
      <input type="text" name="q" placeholder="Search..." class="input-block-level" />
    </form>
  </div>
</div>

<div class="row-container">
  <div class="row-title">archive</div>
  <div class="row-content">
    {% for post in site.posts_sorted %}
      {% capture post_year %}{{ post.date | date: "%Y" }}{% endcapture %}
      {% unless year == post_year %}{% assign year = post_year %}
        <span class="item"><a href="/archive/#y{{ year }}">{{ year }}</a></span>
      {% endunless %}
    {% endfor %}
  </div>
</div>

<hr/>