<div class="site-sidebar clearfix">
  <div class="sidebar-box">
    <div class="sidebar-title">search</div>
    <div class="sidebar-content search">
      <form action="http://google.com/search" method="get">
        <input name="sitesearch" type="hidden" value="{{ site.domain }}" />
        <input type="text" name="q" placeholder="Search..." class="input-block-level" />
      </form>
    </div>
  </div>

  <div class="sidebar-box">
    <div class="sidebar-title">tags</div>
    <div class="sidebar-content tags">
      <table>
      {% for tag in site.tags %}
        <tr>
          <td class="tag-name"><a href="/tags/#{{ tag[0] }}">{{ tag[0] }}</a></td>
          <td class="tag-count">{{ tag[1].size }}</td>
        </tr>
      {% endfor %}
      </table>
    </div>
  </div>

  <div class="sidebar-box">
    <div class="sidebar-title">archive</div>
    <div class="sidebar-content archive">
      {% for post in site.posts %}
        {% capture post_year %}{{ post.date | date: "%Y" }}{% endcapture %}
        {% unless year == post_year %}{% assign year = post_year %}<div class="year"><a href="/archive/#y{{ year }}">{{ year }}</a></div>{% endunless %}
        {% capture post_month %}{{ post.date | date: "%B" }}{% endcapture %}
        {% unless month == post_month %}{% assign month = post_month %}<div class="month"><a href="/archive/#{{ month | downcase }}{{ year }}">{{ month }}</a></div>{% endunless %}
      {% endfor %}
    </div>
  </div>
</div>