<!DOCTYPE html>
<!--
  Yes, I don't like it either that using liquid means that there's whitespace
  all over the place.

  Why don't you look at the preprocessed source instead?

  https://github.com/crdx/crdx.org
-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <title>{% if page.title %}{{ page.title }} ({% endif %}{{ site.title }}{% if page.title %}){% endif %}</title>

    <!-- IE8+: this must be loaded first so the HTML5 polyfill applies before the elements are actually used. -->
    <script type="text/javascript" src="/assets/js/modernizr.min.js"></script>

    <link rel="alternate" title="crdx.org rss feed" href="/feed.xml" type="application/rss+xml">

    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/main.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/glyphicons.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/highlight.min.css" />
  </head>
  <body>
    <div class="nav-container clearfix">
      <nav class="nav">
        <ul class="nav-internal">
          <!-- We're running each <li> next to each other here because if you
               don't, then an nbsp appears between each element. -->
          <li class="index{% if page.menu == "index" %} selected{% endif %}">
            <a href="/">crdx.org</a>
          </li><li{% if page.menu == "about" %} class="selected"{% endif %}>
            <a href="/about/">about</a>
          </li><li{% if page.menu == "blog" %} class="selected"{% endif %}>
            <a href="/blog/">blog</a>
          </li>
        </ul>

        <ul class="nav-external">
          <li>
            <a href="http://github.com/crdx" title="crdx @ GitHub" class="js-tooltip"><i class="glyphicon-github"></i></a>
          </li><li>
            <a href="http://stackoverflow.com/users/457104/crdx" title="crdx @ StackOverflow" class="js-tooltip"><i class="glyphicon-stackoverflow"></i></a>
          </li><li>
            <a href="/feed.xml" target="_blank" title="RSS Feed" class="js-tooltip"><i class="glyphicon-rss"></i></a>
          </li>
        </ul>
      </nav>
    </div>

  <div class="content-container">
    <div class="content{% if page.name %} page-{{ page.name }}{% endif %}">
      {{ content }}
    </div>
  </div>

  <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/assets/js/highlight.min.js"></script>

  <script type="text/javascript" src="/assets/js/util.coffee.js"></script>
  <script type="text/javascript" src="/assets/js/things.coffee.js"></script>
  {% if page.name == "cookies" %}<script type="text/javascript" src="/assets/js/cookies.coffee.js"></script>{% endif %}
  {% if page.name == "index" %}<script type="text/javascript" src="/assets/js/projects.coffee.js"></script>{% endif %}

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(["_setAccount", "UA-35469939-3"]);
    _gaq.push(["_trackPageview"]);

    (function() {
        var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
        ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
        var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ga, s);
    })();

    hljs.initHighlightingOnLoad();
  </script>

  </body>
</html>

