<!DOCTYPE html>
<!--
  Yes, I don't like it either that using liquid means that there's whitespace
  all over the place.

  Why don't you look at the preprocessed source instead?

  https://github.com/crdx/crdx.org
-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="alternate" title="crdx.org rss feed" href="/feed.xml" type="application/rss+xml">

    <title>{% if page.title %}{{ page.title }} ({% endif %}{{ site.title }}{% if page.title %}){% endif %}</title>

    <link rel="stylesheet" type="text/css" href="/bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/qtip2/jquery.qtip.min.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/prismjs/prism.css" />
    <link rel="stylesheet" type="text/css" href="/bower_components/prismjs/plugins/line-numbers/prism-line-numbers.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/glyphicons.min.css" />

    <link rel="stylesheet" type="text/css" href="/assets/css/main.min.css" />

    <script type="text/javascript" src="/bower_components/modernizr/modernizr.js"></script>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/qtip2/jquery.qtip.min.js"></script>
    <script type="text/javascript" src="/bower_components/prismjs/prism.js"></script>
    <script type="text/javascript" src="/bower_components/prismjs/plugins/line-numbers/prism-line-numbers.min.js"></script>

    <script type="text/javascript" src="/assets/js/util.coffee.js"></script>
    <script type="text/javascript" src="/assets/js/things.coffee.js"></script>
    {% if page.key == "cookies" %}<script type="text/javascript" src="/assets/js/cookies.coffee.js"></script>{% endif %}
    {% if page.key == "index" %}<script type="text/javascript" src="/assets/js/projects.coffee.js"></script>{% endif %}

  </head>
  <body>
    <div class="nav-container cf">
      <nav class="nav cf">
        <ul class="nav-primary">
          {% include nav-primary.html %}
        </ul>

        <ul class="nav-secondary">
          <li>
            <a href="http://github.com/crdx" title="crdx @ GitHub" class="js-tooltip"><i class="glyphicon-github"></i></a>
          </li><li>
            <a href="http://stackoverflow.com/users/457104/crdx" title="crdx @ StackOverflow" class="js-tooltip"><i class="glyphicon-stackoverflow"></i></a>
          </li><li>
            <a href="/feed.xml" target="_blank" title="RSS Feed" class="js-tooltip"><i class="glyphicon-rss"></i></a>
          </li>
        </ul>
      </nav>
    </div>

  <div class="content-container">
    <div class="content{% if page.key %} page-{{ page.key }}{% endif %}">
      {{ content }}
    </div>
  </div>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(["_setAccount", "UA-35469939-3"]);
    _gaq.push(["_trackPageview"]);

    (function() {
        var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
        ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
        var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

  </body>
</html>


