<!--
  Look, I don't like it either that using liquid templates
  means that there's whitespace all over the place. You should
  look at the preprocessed source instead.
-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>

    <link rel="alternate" title="crdx.org rss feed" href="/feed.xml" type="application/rss+xml">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/glyphicons.css" />
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

    <!--[if lt IE 9]><script type="text/javascript" src="/js/html5shiv.js"></script><![endif]-->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/util.js"></script>
    {% if page.name == "cookies" %}<script type="text/javascript" src="/js/cookie-generator.js"></script>{% endif %}
    {% if page.name == "code" %}<script type="text/javascript" src="/js/github-commits.js"></script>{% endif %}

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35469939-3']);
      _gaq.push(['_trackPageview']);

      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
  <div class="site-container clearfix">
    <header class="site-header">
      <a href="/"><h1>{{ site.title }}</h1></a>
    </header>
    <nav class="site-nav clearfix">
      <ul class="nav-left">
        <li{% if page.menu == "home" %} class="selected"{% endif %}><a href="/">home</a></li>
        <li{% if page.menu == "archive" %} class="selected"{% endif %}><a href="/archive">archive</a></li>
        <li{% if page.menu == "code" %} class="selected"{% endif %}><a href="/code">code</a></li>
        <li{% if page.menu == "misc" %} class="selected"{% endif %}><a href="/misc">misc</a></li>
        <li{% if page.menu == "about" %} class="selected"{% endif %}><a href="/about">about</a></li>
        <li><a href="/feed.xml" target="_blank"><i class="glyphicon-rss"></i>rss</a></li>
      </ul>

      <ul class="nav-right">
        <li><a href="http://github.com/crdx" target="_blank"><i class="glyphicon-github"></i>github</a></li>
        <!--<li><a href="http://twitter.com" target="_blank"><i class="glyphicon-twitter"></i>twitter</a></li>-->
        <li><a href="http://stackoverflow.com/users/457104/crdx" target="_blank"><i class="glyphicon-stackoverflow"></i>so</a></li>
      </ul>
    </nav>

    <div class="site-sidebar clearfix">
      <div class="sidebar-box">
        <div class="sidebar-title">search</div>
        <div class="sidebar-content">
          <form action="http://google.com/search" method="get">
            <input name="sitesearch" type="hidden" value="{{ site.domain }}" />
            <input type="text" name="q" placeholder="Search..." />
          </form>
        </div>
      </div>

      <div class="sidebar-box">
        <div class="sidebar-title">tags</div>
        <div class="sidebar-content">
          <table>
          {% for tag in site.tags %}
            <tr>
              <td class="tag-name"><a href="/tags#{{ tag[0] }}">{{ tag[0] }}</a></td>
              <td>{{ tag[1].size }}</td>
            </tr>
          {% endfor %}
          </table>
        </div>
      </div>
    </div>

    <div class="clearfix site-content{% if page.name %} page-{{ page.name }}{% endif %}">
      {{ content }}
    </div>
  </div>
  </body>
</html>

